
a {
  color: #00B7FF;

}

.btn.btn-primary {
  color: #fff;
  background-color: rgba(51, 122, 183, 0.65);
  border-color: rgba(51, 122, 183, 0.65);
  font-size: 12px;
}


.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: 25%;
}

.overlay-text {
  position: absolute;
  top: 78%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #000000; 
  padding: 10px 20px; 
  font-size: 14px; 
  text-align: center;
  background-color: rgba(255, 255, 255, 0.88);
  width:31.333333%;
  display: block;
  width: 100%;
  height: auto;
}

img {
  width: auto ;
  max-width: 90% ;
  height: auto ;
}

@media screen and  (min-width: 10px) and (max-width: 680px) {
  .image-container img {
  margin-left: 6%;
  }
}

@media screen and (min-width: 700px)  and  (max-width: 1440px) {
  .image-container img {
  margin-left: 29%;
  }
}

@media screen and (min-width: 2000px) and  (max-width: 2800px) {
  .image-container img {
  margin-left: 86%;
  }
}
