body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("public/image/cabin.jpg");
  background-repeat: no-repeat;
  background-size: 850px;
  background-position-x: center;

}

a {
  color: #00B7FF;
}

.col-sm-4 {
  background-color: rgba(255, 255, 255, 0.88);
  width: 27.333333%;
}


.btn.btn-primary {
  color: #fff;
  background-color: rgba(51, 122, 183, 0.65);
  border-color: rgba(51, 122, 183, 0.65);
}

/* Media Query for Phones (Portrait and Landscape) */
@media screen and (max-width: 768px) {

  /* Adjust styles for phones */
  body {
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: 142%;
  }

  .col-sm-4 {
    background-color: rgba(255, 255, 255, 0.88);
    width: 41.333333% !important;
  }

  .btn {
    display: inline-block;
    padding: 4px 3px;
    margin-bottom: 6px;
    font-size: 10px;
  }

}

/* Media Query for Phones (Portrait) */
@media screen and (max-width: 576px) {

  body {
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .col-sm-4 {
    background-color: rgba(255, 255, 255, 0.88);
    width: 50.333333% !important;
  }

  .btn {
    display: inline-block;
    padding: 3px 3px;
    margin-bottom: 6px;
    font-size: 7px;
  }

}


/* Media Query for Phones (Portrait) */
@media screen and (max-width: 390px) {

  body {
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .col-sm-4 {
    background-color: rgba(255, 255, 255, 0.88);
    width: 65.333333% !important;
  }

  .btn {
    display: inline-block;
    padding: 3px 3px;
    margin-bottom: 6px;
    font-size: 7px;
  }

}

/* 1179×2556 pixels at 460ppi */
@media only screen 
    and (width: 412px) 
    and (-webkit-device-pixel-ratio: 3) {
      body {
        font-size: 12px;
        background-repeat: no-repeat;
        background-size: 150%;
      }
      .col-sm-4 {
        background-color: rgba(255, 255, 255, 0.88);
        width: 66.333333% !important;
      }
    
      .btn {
        display: inline-block;
        padding: 3px 3px;
        margin-bottom: 6px;
        font-size: 7px;
      }
    

     }

    /* 1284×2778 pixels at 460ppi */
@media only screen 
and (width: 479px) 
and (-webkit-device-pixel-ratio: 3) { 
  body {
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .col-sm-4 {
    background-color: rgba(255, 255, 255, 0.88);
    width: 68.333333% !important;
  }

  .btn {
    display: inline-block;
    padding: 3px 3px;
    margin-bottom: 6px;
    font-size: 7px;
  }


}
