body, html {
  height: 100%;
  margin: 0;
  font: 500 15px/1.8 "Lato", sans-serif;
  color: #777;
}
h1{
  text-transform:uppercase;
  font-size:72px;
  font-family:'Verdana';
  padding:30px;
  
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("public/image/cabin.jpg ");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("public/image/fiji.jpg");
  min-height: 60%;
}

.bgimg-3 {
  background-image: url("public/image/field.JPG");
  min-height: 60%;
}

.bgimg-4 {
  background-image: url("public/image/wedding.JPG");
  min-height: 60%;
  background-position-y: -144px;
}

.bgimg-5 {
  background-image: url("public/image/cabin.jpg");
  min-height: 85%; 
}
 .bgimg-6 {
  background-image: url("public/image/couch.jpg");
  min-height: 60%;
  background-position-y: -333px;
 }

.caption {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
}

.links {
  width: 100%;
  text-align: center;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h1.clear {
  font-size: 90px;
  font-family: 'Porter Sans Block', sans-serif;
  -webkit-text-stroke: 1px #ffffffd9; 
  color: #000;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.btn-primary {
  color: #fff;
  background-color: #000000fc;
  border-color: #000000fc;
}

.static {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
}

.clear {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}

.list-inline>li {
margin-top: 27%;
}

.smlimg   {
  height: 60px
}
.fa-copyright {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Turn off  scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
    background-attachment: scroll;
  }

  .caption {
    top: 27%;
  }

  p {
    font-size: 31px;
  }

  span.clear{
    font-size: 41px;
  }

  .bgimg-2 {
    min-height: 573px;
  }

  .bgimg-3 {
    min-height: 672px;
  }

  .bgimg-4 {
    min-height: 722px;
    background-position-y: -210px;
  }

  .bgimg-6 {
    min-height: 50%;
    background-position-y: 1px;
  }

  .list-inline>li {
    margin-top: 1214px;
    }

    .smlimg {
      height: 95px;
  }

}

ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #ffffff8f;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: linear-gradient(to right, #008a35,#46a64b, #46a64b,#008a35);
}

ul li:nth-child(2) a:before{
  background: linear-gradient(to right, #25accb,#3588c2,#3665b8,#2e43ae,#1932ae);
}

ul li:nth-child(3) a:before {
  background: linear-gradient(to right, #ff0000, #ff5a00, #ff0000);
}

ul li:nth-child(4) a:before {
  background: linear-gradient(to right, #2b2d31,#392b31,#552531,#7e1e32,#a81732);
}

ul li:nth-child(5) a:before {
  background: linear-gradient(to right,#156062,#5e6667,#ff022f,#f9b440);
  color: #fff;
}

ul li:nth-child(6) a:before {
  background: linear-gradient(to right,#f2c35c,#a67b40,#36373a);
  color: #fff;
}

